<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Project Details</title>
  <style>
    table {
       border: 1px solid black;
       border-collapse: collapse;
       width: 100%;
       font-size: 20px;
       padding: 5px;
    }
    
    th, td {
    
     border: 1px solid black;
    }
    
    th {
        background-color: #0077A8;
        color: white;
    
    }
    
    td {
    padding-left: 5px;
    
    }
  
  
  </style>


</head>
<body>

   <table>
       <tr>

         <th>projectName</th>
         <th>description</th>
         <th>adminId</th>
         <th>skills</th>
         <th>ece</th>
         <th>csc</th>
		 <th>mech</th>
		 <th>civil</th>
		 <th>it</th>
		 <th>chemical</th>
		 <th>startDate</th>
		 <th>endDate</th>
       
       </tr>
        <tr  th:each="pd : ${projectDetails}">
           <td  th:text="${pd.projectName}"></td>
           <td  th:text="${pd.description}"></td>
           <td  th:text="${pd.adminId}"></td>
           <td  th:text="${pd.skills}"></td>
           <td  th:text="${pd.ece}"></td>
           <td  th:text="${pd.csc}"></td>
		   <td  th:text="${pd.mech}"></td>
		   <td  th:text="${pd.civil}"></td>
		   <td  th:text="${pd.it}"></td>
		   <td  th:text="${pd.chemical}"></td>
		   <td  th:text="${pd.startDate}"></td>
		   <td  th:text="${pd.endDate}"></td>
        </tr>
   
   </table>

</body>
</html>