<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Project Details</title>
  <style>
    table {
       border: 1px solid black;
       border-collapse: collapse;
       width: 100%;
       font-size: 20px;
       padding: 5px;
    }
    
    th, td {
    
     border: 1px solid black;
    }
    
    th {
        background-color: #0077A8;
        color: white;
    
    }
    
    td {
    padding-left: 5px;
    
    }
  
  
  </style>


</head>
<body>

   <table>
       <tr>

         <th>projectName</th>
       
       </tr>
        <tr  th:each="pn : ${projectNames}">
           <td  th:text="${pn}"></td>
        </tr>
   
   </table>

</body>
</html>